{% extends './template.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" name="generate_puzzle" value="Generate Puzzle">
    </form>
    <p>{{ puzzle }}</p>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show solution
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">{{solution}}</div>
    </div>
{% endblock %}
